<%= image_tag "movies.jpg", :class => "responsive" %>
<hr>
<p>Retrouvez les dernières nouveautés films, 4 mois seulement après leur sortie cinéma. Un catalogue de plus de 10 000 films pour une soirée cinéma à la maison réussie ! </p>