<div class="card">
    <div class="card-header">
        <h1>New Role</h1>
    </div>
    <div class="card-body">
        <div class="form-group">
            <%= render 'form', role: @role %>
        </div>
        <%= link_to 'Back', roles_path %>
    </div>
</div>
