<div class="card">
    <div class="card-header">
        <h1>New Post</h1>
    </div>
    <div class="card-body">
        <div class="form-group">
            <%= render 'form', post: @post %>
        </div>
        <%= link_to("Liste articles", posts_path) %>
    </div>
</div>
